@charset "utf-8";
      body {
        background-color: hsl(220, 45%, 90%);
        
      }

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        border: 1px solid white;
        box-shadow: 2px 2px 8px 4px #a79898d1;
        border-radius: 5%;
        font-family: sans-serif;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        background-color: white;
      }

      .card-in {
        padding: 10px;
      }

      #image {
        width: 100%;
      }

      img {
        width: 98%;
        margin-left: 1%;
        border-radius: 5%;
      }
      .foot {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: white;
        border-radius: 0 0 15px 15px;
        text-align: center;
        margin-top: -10px;
      }

      .bold-foot {
        font-weight: 700;
        font-size:medium;
        margin: 10px 20px 20px 20px;
       
      }

      .notbold-foot {
        font-size:smaller;
        color: gray;
        margin: 10px 20px 20px 20px;
      }